<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>sudo cp /opt/mnt-lab.war /opt/apache-tomcat-7.0.70/webapps/
datetime=$(date)
cat &gt;deploy-info.txt &lt;&lt;EOL
deploy job number: ${BUILD_NUMBER}
deploy job name: ${JOB_NAME}
deployment date: ${datetime}
EOL
sudo cp -f deploy-info.txt /var/lib/tomcat/webapps/
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>